<div id="header">
    <div id="header-container">
        <div class="header-box start-box">
            {% if session['username']  %}
                <a href="/tasks/tasks">
            {% else %}
                <a href="/users/login">
            {% endif %}
            <img src="{{ url_for('static',filename='./images/todo.png') }}" alt="logo" id="logo">
                </a>
        </div>
        <div class="header-box">
            {% if session['username']  %}
                <a href="/tasks/tasks">
            {% else %}
                <a href="/users/login">
            {% endif %}
                <h1 class="primary" style="color: white;">
                    SLP_TODO
                </h1>
            </a>
        </div>
        <div class="header-box end-box">
            <h1 class="primary" style="color: white;">
                {% if session['username']  %}
                    Welcome {{ session['username'] }}
                {% else %}
                    <a href="{{ url_for('users.login') }}">Login</a>
                {% endif %}
            </h1>

        </div>
    </div>
</div>

{% if session['username']  %}
<div class="style-box">
<div></div>
</div>
<nav>
    <a href="/users/settings">
        <img src="{{ url_for('static',filename='./images/settings.png') }}" alt="settings" id="settings">
    </a>
    <a href="/users/logout">
        <img src="{{ url_for('static',filename='./images/logOut.png') }}" alt="logout" id="logout">
    </a>
</nav>
{% endif %}

