{% extends 'base.html' %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./styles/settings.css') }}">
{% endblock %}

{% block main %}
 <div class="settings">
     <h1>Edit your information</h1>
     <table>
         <tr>
             <td><b>First name:</b></td>
             <td>{{ user.name }}</td>
         </tr>
         <tr>
             <td><b>Last name:</b></td>
             <td>{{ user.surname }}</td>
         </tr>
         <tr>
             <td><b>E-mail:</b></td>
             <td>{{ user.email }}</td>
         </tr>
     </table>
     <form id="password-change" action="/users/settings" method="POST">
         <input class="styled-input" type="password" name="old_password" id="old_password" placeholder="Old password" required />
         <input class="styled-input" type="password" name="password" id="password" placeholder="New password" required />
         <input class="styled-input" type="password" name="repeat_password" id="repeat_password" placeholder="Repeat new password" required />
        <button type="submit" class="button styled-button">Change password</button>
     </form>
     <form action="/users/delete" method="POST">
        <button type="submit" class="button styled-button">Delete account</button>
     </form>
 </div>
{% endblock %}