{% extends 'base.html' %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./styles/task.css') }}">
{% endblock %}

{% block main %}
 <div class="tasks-list">
    <div class="task-card">
        <div class="task-header">
            <h1 class="task-title"></h1>
            <img src="" alt="" class="info">
        </div>
        <div class="task-content">
            <p class="task-text"></p>
        </div>
        <div class="task-operations">
            <a href="">
                <img src="" alt=""/>
            </a>
            <a href="">
                <img src="" alt=""/>
            </a>
            <a href="">
                <img src="" alt=""/>
            </a>
        </div>
    </div>
 </div>

{% endblock %}