{% extends 'base.html' %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./styles/task.css') }}">
{% endblock %}

{% block main %}
 <div class="tasks-list">
     <a href="{{ url_for('tasks.create_task')  }}" style="width: 100%">
        <div class="create-task">
            Add new task
        </div>
     </a>
    {% if tasks %}
        <h1 style="margin: 30px 0 0 0">Your tasks progress: {{ progress }}% </h1>
        <progress style="margin: 0 0 30px 0" id="file" value="{{ progress }}" max="100"></progress>
    {% endif %}
    {% for task in tasks %}
    <div class="task-card">
        <div class="task-header" style="background: {{ task.color }}">
            <div class="status">
                {% if task.completed %}
                    <div style="background-color: #0eac0e">
                {% else  %}
                    <div style="background-color: red">
                {% endif %}
                    <div>Status:</div>
                {% if task.completed %}
                    <div>Done</div>
                {% else  %}
                    <div>Not done</div>
                {% endif %}
                </div>
            </div>
            <h1 class="task-title" style="color: {{ task.fontColor }}">{{ task.title }}</h1>
            <div>
            </div>
            <div class="info"  style="color: {{ task.fontColor }}">
                <div>Created at: {{ task.created_at[:16]}}</div>
                {% if task.modified_at %}
                    <div>Modified at: {{ task.modified_at[:16]}}</div>
                {% endif %}
            </div>
        </div>
        <div class="task-content">
            <p class="task-text">{{ task.content }}</p>
        </div>
        <div class="task-operations">
            <a href="{{url_for('tasks.update_task', task_id=task._id)}}">
                <img src="{{ url_for('static',filename='images/edit.png') }}" alt="edit" class="operation"/>
            </a>
            <a href="{{url_for('tasks.duplicate_task', task_id=task._id)}}">
                <img src="{{ url_for('static',filename='images/duplicate.png') }}" alt="duplicate" class="operation"/>
            </a>
            <a href="{{url_for('tasks.delete_task', task_id=task._id)}}">
                <img src="{{ url_for('static',filename='images/delete.png') }}" alt="delete" class="operation"/>
            </a>
            <a href="">
            <a href="{{url_for('tasks.toggle_status', task_id=task._id)}}">
                {% if task.completed %}
                    <button class="button styled-button">Restart task</button>
                {% else  %}
                    <button class="button styled-button">Complete task</button>
                {% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
 </div>
{% endblock %}